<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLCEExplorer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SQLCEExplorer.My.MySettings>
            <setting name="CurrentUser" serializeAs="String">
                <value />
            </setting>
            <setting name="FontName" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowConnectDialogAtStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableRecentItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSyntaxHighlight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VariableHighlight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommentHighlight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeywordColor" serializeAs="String">
                <value>-16776961</value>
            </setting>
            <setting name="FunctionsColor" serializeAs="String">
                <value>-8355712</value>
            </setting>
            <setting name="CommentsColor" serializeAs="String">
                <value>-16744448</value>
            </setting>
            <setting name="VariableColor" serializeAs="String">
                <value>-65536</value>
            </setting>
            <setting name="RecentItemsCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="EnableAutoComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAssociatedToSDF" serializeAs="String">
                <value>False</value>
            </setting>
        </SQLCEExplorer.My.MySettings>
    </userSettings>
</configuration>
